<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.PeopleMapper">
	<select id="selectPeopleList" resultType="PersonVO">
		SELECT 
		    ID
		    , NAME
		    , GENDER
		    , AGE
		    , ADDRESS
		FROM PERSON
	</select>
	
	<select id="selectPeople" resultType="PersonVO">
		SELECT 
		    ID
		    , NAME
		    , GENDER
		    , AGE
		    , ADDRESS
		FROM PERSON
		WHERE ID = #{id}	
	</select>
	
	<insert id="insertPeople">
		INSERT INTO PERSON(
		    ID
		    , NAME
		    , GENDER
		    , AGE
		    , ADDRESS
		)
		VALUES(
		    #{id}
		    , #{name}
		    , #{gender}
		    , #{age}
		    , #{address}
		)
	</insert>
	
	<update id="updatePeople">
		UPDATE PERSON
		SET 
		    NAME = #{name}
		    , GENDER = #{gender}
		    , AGE = #{age}
		    , ADDRESS = #{address}
		WHERE ID = #{id}
	</update>
	
	<delete id="deletePeople">
		DELETE FROM PERSON
		WHERE ID = #{id}
	</delete>
</mapper>